<% if resource.errors.any? %>
  <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
    <div>
      <span class="font-medium"></span>
        <ul class="mt-1.5 ml-4 list-disc list-inside">
          <% resource.errors.full_messages.each do |message| %>
            <li class="list-none"><%= message %></li>
          <% end %>
      </ul>
    </div>
  </div>
<% end %>
