
<nav class="bg-white border-gray-200 px-4">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        <%= link_to sites_path, class:"flex items-center" do %>
          <%= image_tag "logo", class: "h-16 md:h-32" %>
        <% end %>
        <div class="flex items-center">
          <%= link_to 'Entrar', new_user_session_path, class: "button-primary text-lg" %>
        </div>
    </div>
</nav>
