
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
        <caption class="p-5 text-lg font-semibold text-gray-900 bg-white text-center">
            Fluxo de Caixa
            <p class="mt-1 text-sm font-normal text-gray-500 "></p>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Titulo
                </th>
                <th scope="col" class="px-6 py-3">
                    Tipo
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantia
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Editar</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    Doacao X
                </th>
                <td class="px-6 py-4">
                    Entrada
                </td>
                <td class="px-6 py-4">
                  +  $2999
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar</a>
                </td>
            </tr>
            <tr class="bg-white">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Compra de medicamentos
                </th>
                <td class="px-6 py-4">
                    Saida
                </td>
                <td class="px-6 py-4">
                   - $99
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
