<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
        <caption class="p-5 text-lg font-semibold text-gray-900 bg-white text-center">
            Adoçoes recentes
            <p class="mt-1 text-sm font-normal text-gray-500 "></p>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nome
                </th>
                <th scope="col" class="px-6 py-3">
                    Adotado por:
                </th>
                <th scope="col" class="px-6 py-3">
                    Data
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Visualizar</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <% @recent_adoptions.each do |animal| %>
                <tr class="bg-white border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <%= animal.name %>
                    </th>
                    <td class="px-6 py-4">
                        Fulano
                    </td>
                    <td class="px-6 py-4">
                      <%= animal.updated_at.strftime("%d/%m/%Y") %>
                    </td>
                    <td class="px-6 py-4 text-right">
                      <%= link_to animal_path(animal), class: 'font-semibold text-red-600 hover:text-black hover:underline' do %>
                        Visualizar
                      <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
