<div class='bg-gray-100 rounded-lg space-y-4 w-full'>
  <div class="bg-white rounded-lg p-2 shadow-lg">
    <h1 class="text-3xl font-bold ml-2 my-2">Adicionar animal</h1>
  </div>
  <div class="bg-white rounded-lg p-2 shadow-lg">
    <%= render 'form', url: animals_path %>
  </div>
</div>
