<% if page.current? %>
  <span class="bg-black text-white px-2.5 py-0.5 rounded"><%= page %></span>
<% else %>
  <%= link_to page, url, remote: remote, rel: page.rel, class: "px-4 text-gray-800 font-light" %>
<% end %>
